<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
<header>
    <h1>🇬🇧 Cost of Living Info (UK)</h1>
    <nav><a class="nav-button" href="/">Home</a><a class="nav-button" href="/about">About</a></nav>
</header>
<main>