<%- include("partials/header.ejs") %>
<div id="about-container">
    <section class="page-title">
        <h2>About our project</h2>
        <p>We developed this website with the aim to provide people (In the UK only, for now) with average prices on key items within their city. Our aim is to provide a service for people to quickly check the local effects of the cost-of-living crisis. Whether this be to prepare for a work trip, holiday, or to gague prices in a city you would like to move to -- we hope you find our service useful in doing so.</p>
        <p class="disclaimer">Disclaimer: prices are logged and passed to us by a 3rd party, therefore we do not take responsibility for inacurate or out of date data. Please double check your findings if your reasons for using our service are important.<br>API Provider: <a href="https://rapidapi.com/user/traveltables">TravelTables(RapidAPI)</a></p>
    </section>
</div>




<%- include("partials/footer.ejs") %>